@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hello {
  color: #fff;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
}

h1 {
  font-size: 1.5rem;
}
body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(241, 240, 240);
}

.container {
  width: 40%;
  margin: 1rem auto;
}

.first-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input-form {
  min-width: 55%;
}

.balance-container > p {
  display: block;
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
  border-bottom: 1px solid #c7a1e1;
  margin-bottom: 1rem;
}

.income-container,
.expense-container {
  text-align: right;
  font-size: 1.2rem;
}

.income-container > span,
.income-container > i {
  font-size: 1.4rem;
  color: green;
}
.expense-container > span,
.expense-container > i {
  font-size: 1.4rem;
  color: red;
}

.history-container {
  margin: 2rem 0;
}

.input-form {
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid #d3d3d3;
  padding: 4px;
  margin-bottom: 6px;
  margin-top: 0.1rem;
}

label {
  font-size: 0.9em;
  margin-top: 7px;
}

.btn {
  font-size: 0.9em;
  border: none;
  color: white;
  background-color: rgb(133, 50, 192);
  padding: 10px;
  cursor: pointer;
  border-radius: 2px;
  margin-top: 0.8rem;
  width: 100%;
}

.history-list {
  list-style-type: none;
}
.history-list li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px 8px;
  margin: 5px 0;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.histBtn {
  background-color: rgb(133, 50, 192);
  color: white;
  padding: 0.1rem 0.7rem;
  margin-left: 0.2rem;
  border: none;
  border-radius: 2px;
  display: none;
}

.history-list li:hover .histBtn {
  display: inline;
}

.histBtn:hover {
  cursor: pointer;
}

.form-container {
  display: flex;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-container > form {
  width: 100%;
}

.form-group:last-of-type {
  margin-bottom: 1rem;
}

/* media queries */

@media (min-width: 1024px) and (max-width: 1280px) {
  .container {
    width: 60%;
  }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 90%;
  }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) and (orientation: landscape) {
  .container {
    width: 90%;
  }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (max-width: 767px) {
  .first-row {
    display: flex;
    flex-direction: column;
  }

  .balance {
    order: 1;
  }
  .input-form {
    order: 2;
    margin-top: 1.8rem;
  }

  .container {
    width: 70%;
  }
  h1 {
    font-size: 1rem;
  }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  /* CSS */
}
