@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Heebo', sans-serif;
  background-color: rgb(241, 240, 240);
}

.navbar {
  color: white;
  background-color: rgb(133, 50, 192);
  font-size: 0.7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 1rem;
}

.navbar ul {
  display: flex;
  text-align: center;
  justify-content: center;
  list-style: none;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 1rem;
  text-decoration: none;
  font-size: 1rem;
}

a:hover {
  color: #c7a1e1;
}

.container {
  width: 70%;
  margin: 1rem auto;
}
